@import "./client/*.scss";

html,
body {
    font-family: "Avenir Next", "Avenir", "Helvetica Neue", sans-serif;
    font-size: 1rem;
    line-height: 1.55rem;
    font-weight: 400;
    line-height: 1.55rem;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-font-feature-settings: "kern";
    font-feature-settings: "kern";
    font-kerning: normal;
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga" 1, "calt" 0;
}

a {
    cursor: pointer;
}

.clear {
    clear: both;
}

.hidden {
    display: none;
}

input::-ms-clear {
    display: none;
}